@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

*{
padding: 0;
    margin: 0;
    font-family:"Nunito" sans-serif;
    box-sizing: border-box;
}

.row>*{
    padding-left: 0;
    padding-right: 0;
}
body {
    font-family: "Nunito Sans", sans-serif;
  color: #444444;

}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color:black;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", sans-serif;
}

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid black;
  border-top-color: #e2eefd;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
#header #navbar li{
    color: black !important;
}


#img{
  border-top:10px solid #CE0033;
  border-right:10px solid #CE0033;
  border-radius:20px;
}
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background:#CE0033;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}
.back-to-top i {
  font-size: 28px;
  color:white;
  line-height: 0;
}
.back-to-top:hover {
  background:black;
  color:white;
}
.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;


  }
  

}
/*--------------------------------------------------------------
# Top Bar
--------------------------------------------------------------*/
#topbar {
  background:white;
  height: 40px;
  font-size: 14px;
  transition: all 0.5s;
  color: #fff;
  padding: 0;
}
#topbar .contact-info i {
  font-style: normal;
  color:#CE0033;
}
#topbar .contact-info i a, #topbar .contact-info i span {
  padding-left: 5px;
  color: #CE0033;
}
#topbar .contact-info i a {
  line-height: 0;
  transition: 0.3s;
  transition: 0.3s;
}
#topbar .contact-info i a:hover {
  color: black;
  text-decoration: underline;
}
#topbar .social-links a {
  color:#CE0033;
  line-height: 0;
  transition: 0.3s;
  margin-left: 20px;
}
#topbar .social-links a:hover {
  color:black;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  background: #fff;
  transition: all 0.5s;
  z-index: 997;
  height: 86px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}
#header.fixed-top {
  height: 70px;
}
#header .logo {
  font-size: 30px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 600;
  letter-spacing: 0.8px;
  font-family: "Poppins", sans-serif;
}
#header .logo a {
  color: #222222;
}
#header .logo a span {
  color:black;
}
#header .logo img {
  max-height: 40px;
}

.scrolled-offset {
  margin-top: 70px;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
}
.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}
.navbar li {
  position: relative;
}
.navbar > ul > li {
  white-space: nowrap;
  padding: 10px 0 10px 28px;
}
.navbar a, .navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3px;
  font-size: 15px;
  font-weight: 600;
  color: #222222;
  white-space: nowrap;
  transition: 0.3s;
  position: relative;
}
.navbar a i, .navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}
.navbar > ul > li > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -6px;
  left: 0;
  background-color:#CE0033;
  visibility: hidden;
  width: 0px;
  transition: all 0.3s ease-in-out 0s;
}
.navbar a:hover:before, .navbar li:hover > a:before, .navbar .active:before {
  visibility: visible;
  width: 100%;
}
.navbar a:hover, .navbar .active, .navbar .active:focus, .navbar li:hover > a {
  color:#CE0033;
  
}
.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 28px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
}
.navbar .dropdown ul li {
  min-width: 200px;
}
.navbar .dropdown ul a {
  padding: 10px 20px;
  font-weight: 400;
}
.navbar .dropdown ul a i {
  font-size: 12px;
}
.navbar .dropdown ul a:hover, .navbar .dropdown ul .active:hover, .navbar .dropdown ul li:hover > a {
  color: black;
}
.navbar .dropdown:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}
.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}
.navbar .dropdown .dropdown:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}
@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }
  .navbar .dropdown .dropdown:hover > ul {
    left: -100%;
  }

}




.mobile-nav-toggle {
  color: black;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}
.mobile-nav-toggle.bi-x {
  color: #fff;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}
.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(9, 9, 9, 0.9);
  transition: 0.3s;
  z-index: 999;
}
.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}
.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}
.navbar-mobile a, .navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: #222222;
}
.navbar-mobile > ul > li {
  padding: 0;
}
.navbar-mobile a:hover:before, .navbar-mobile li:hover > a:before, .navbar-mobile .active:before {
  visibility: hidden;
}
.navbar-mobile a:hover, .navbar-mobile .active, .navbar-mobile li:hover > a {
  color: #CE0033;
}
.navbar-mobile .getstarted, .navbar-mobile .getstarted:focus {
  margin: 15px;
}
.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}
.navbar-mobile .dropdown ul li {
  min-width: 200px;
}
.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}
.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}
.navbar-mobile .dropdown ul a:hover, .navbar-mobile .dropdown ul .active:hover, .navbar-mobile .dropdown ul li:hover > a {
  color:black;
}
.navbar-mobile .dropdown > .dropdown-active {
  display: block;
}

.hero{
    
    max-width: 100%;
    height:auto;
    filter: saturate(0) brightness(50%);
}
.hero-title {
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
   transform: translate(-50%, -50%);
    font-size: 100px;

    opacity:100%;
   z-index: 2;
    font-weight: bolder;
    
}
.img-container{
    background-image:url(./images/IMG_6765.jpg);
    background-size: cover;
    max-width: 100%;
    height: 100%;
    display: flex;
    margin-top: 1rem;
  
    
   
}

.cool{
    margin-top:-5rem;

}

.cool h2{
    text-align: center;
    font-size: 30px;
    margin-top: 1rem;

  
}
 .cool p{
    font-size:18px;
    text-align: center;
    margin:2rem;

  
}

.center{
    color:#CE0033;
    background-color: white;
   display: flex;
   border: 1px white solid;
   border-radius:50px;
   font-size: 24px;
   margin-bottom: 1rem;

   font-weight: bold;

}
.dangerr{
    font-size:36px;
    color: #CE0033;
    justify-content:flex-end;
    margin-left: 1rem;
    margin-top: 1rem;
font-weight: bold;
width: 1000px;
}
.fabrique{
   
 
    position: relative;
    margin-top: 5rem !important;
   
}
.text{
    font-size:16px;
    margin-bottom: 1rem;
    text-align: left;

}
.partenaires{
    
    width:100%;
}

.card{
    height:auto;
    width: 100%;
  
}
.card-img-top {
    height:auto;
    width: 100%;
   
}
.card-body{
    height:auto;
    width: 100%;
  
    
}.carte{
    width: 100%;
    padding: 5px;
    
}
.cent{
    color:white;
    background-color: #CE0033;
    position: absolute;
   width: 250px;
   height: 50px;
   border: 1px #CE0033 solid;
   border-radius:50px;
   font-size: 24px;
   margin-top: 2rem;

   font-weight: bold;
}
.danger{
    font-size:48px;
    color: #CE0033;
    justify-content:flex-end;
    margin-top: 5rem;
}


.page-footer{
    background-image: url(./images/veille.png);
   
}
.page-content{
    max-width: 100%;
    height: auto;
}
/*  */
.pied{
        background-color: #CE0033;
        color: white; 
        margin-top:1rem;
        width:100%; 
        margin:0;
}
.pied1{
  
    
      text-align:left;
     
}
.pied2{
    
    
     text-align:right;
     
}
